html, body {
      background-color: white;
      color: #696969;
      padding: 0;
      margin: 0;
      font-family: 'Quicksand', sans-serif;
    }
    
    #navbar {
      background-color: black;
      position: fixed;
      top: 0;
      width: 100%;
      height: 50px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      z-index: 9;
    }
    
    ul {
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      width: 300px;
      
    }
    
    .links {
      text-decoration: none;
      color: inherit;
    }
    
    main {
      padding-top: 50px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: stretch;
    }
    
   #welcome-section h1 {
      font-family: 'Caveat', cursive;
     color: white;
      font-size: 5em;
      margin-bottom: 0px;
     animation-name: welcome;
     animation-duration: 5s;
     animation-fill-mode: both;
     margin-top: 0;
     padding-top: 0;
    }
    
    @keyframes welcome {
      0% {
        opacity: 0;
      }
      
      100% {
        opacity: 1;
      }
    }
    
    h2 {
      margin: 0;
    }
    
    #name {
      color: white;
      animation-name: name;
      animation-delay: 5s;
      animation-duration: 5s;
      animation-fill-mode: both;
    }
    
    @keyframes name {
      0% {
        opacity: 0;
      }
      
      100% {
        opacity: 1;
      }
    }
    
    #about {
      color: white;
      animation-name: about;
      animation-delay: 10s;
      animation-fill-mode: both;
      animation-duration: 5s;
    }
    
    @keyframes about {
      0% {
        opacity: 0;
      }
      
      100% {
        opacity: 1;
      }
    }
    
    #welcome-section {
      height: 100vh;
      background: url(https://cdn.pixabay.com/photo/2016/11/23/15/23/cosmos-1853491_960_720.jpg);
      background-size: cover;
      background-repeat: no;
      background-position: center center;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    
    #welcome-text {
      padding-top: 20vh;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
    
    
    #projects {
      height: 150vh;
      background: url(https://cdn.pixabay.com/photo/2020/01/04/11/54/atmospheric-4740395_960_720.jpg);
      background-size: cover;
      background-repeat: no;
      background-position: center center;
      margin: 0;
      padding-top: 10vh;
    }
    
     #projects h1 {
       color: white;
      font-family: 'Caveat', cursive;
      font-size: 2.4em;
      padding: 0;
       padding-bottom: 20px;
      margin-bottom: 0;
      grid-area: header;
       text-align: center;
    }
    
    #project-grid {
      width: 100%;
      display: grid;
      grid-template-rows: 250px 250px;
      grid-template-columns: 250px 250px;
      grid-template-areas:
        "one two"
        "three four";
      grid-row-gap: 30px;
      grid-column-gap: 80px;
      justify-content: center;
      align-content: center;
    }
    
    .project-tile {
      background-color: #696969;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      text-decoration: none;
      color: white;
      padding-top: 15px;
      padding-left: 0;
      padding-right: 0;
    }
    
    
    .project-img {
      width: 90%;
    }
    
    #tile-1 {
      animation-name: tile-1;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      animation-fill-mode: backwards;
    }
    
    @keyframes tile-1 {
      0% {
        background-color: #FFFF66;
        color: black;
      }
      4.99% {
        background-color: #FFFF66;
        color: black;
      }
      5% {
        background-color: #696969;
        color: white;
      }
      19.99% {
        background-color: #696969;
        color: white;
      }
      20% {
        background-color: #FFFF66;
        color: black;
      }
      24.99% {
        background-color: #FFFF66;
        color: black;
      }
      25% {
        background-color: #696969;
        color: white;
      }
      39.99% {
        background-color: #696969;
        color: white;
      }
      40% {
        background-color: #FFFF66;
        color: black;
      }
      44.99% {
        background-color: #FFFF66;
        color: black;
      }
      45% {
        background-color: #696969;
        color: white;
      }
      49.99% {
        background-color: #696969;
        color: white;
      }
      50% {
        background-color: #FFFF66;
        color: black;
      }
      54.99% {
        background-color: #FFFF66;
        color: black;
      }
      55% {
        background-color: #696969;
        color: white;
      }
      59.99% {
        background-color: #696969;
        color: white;
      }
      60% {
        background-color: #FFFF66;
        color: black;
      }
      64.99% {
        background-color: #FFFF66;
        color: black;
      }
      65% {
        background-color: #696969;
        color: white;
      }
      69.99% {
        background-color: #696969;
        color: white;
      }
      70% {
        background-color: #FFFF66;
        color: black;
      }
      84.99% {
        background-color: #FFFF66;
        color: black;
      }
      85% {
        background-color: #696969;
        color: white;
      }
    }
    
    #tile-2 {
      animation-name: tile-2;
      animation-duration: 30s;
      animation-fill-mode: backwards;
      animation-iteration-count: infinite;
    }
    
    @keyframes tile-2 {
      0% {
        background-color: #696969;
        color: white;
      }
      4.99% {
        background-color: #696969;
        color: white;
      }
      5% {
        background-color: #FFFF66;
        color: black;
      }
      9.99% {
        background-color: #FFFF66;
        color: black;
      }
      10% {
        background-color: #696969;
        color: white;
      }
      24.99% {
        background-color: #696969;
        color: white;
      }
      25% {
        background-color: #FFFF66;
        color: black;
      }
      29.99% {
        background-color: #FFFF66;
        color: black;
      }
      30% {
        background-color: #696969;
        color: white;
      }
      44.99% {
        background-color: #696969;
        color: white;
      }
      45% {
        background-color: #FFFF66;
        color: black;
      }
      49.99% {
        background-color: #FFFF66;
        color: black;
      }
      50% {
        background-color: #696969;
        color: white;
      }
      54.99% {
        background-color: #696969;
        color: white;
      }
      55% {
        background-color: #FFFF66;
        color: black;
      }
      59.99% {
        background-color: #FFFF66;
        color: black;
      }
      60% {
        background-color: #696969;
        color: white;
      }
      64.99% {
        background-color: #696969;
        color: white;
      }
      65% {
        background-color: #FFFF66;
        color: black;
      }
      84.99% {
        background-color: #FFFF66;
        color: black;
      }
      85% {
        background-color: #696969;
        color: white;
      }
    }
    
    #tile-3 {
      animation-name: tile-3;
      animation-duration: 30s;
      animation-fill-mode: backwards;
      animation-iteration-count: infinite;
    }
    
    @keyframes tile-3 {
      0% {
        background-color: #696969;
        color: white;
      }
      9.99% {
        background-color: #696969;
        color: white;
      }
      10% {
        background-color: #FFFF66;
        color: black;
      }
      14.99% {
        background-color: #FFFF66;
        color: black;
      }
      15% {
        background-color: #696969;
        color: white;
      }
      29.99% {
        background-color: #696969;
        color: white;
      }
      30% {
        background-color: #FFFF66;
        color: black;
      }
      34.99% {
        background-color: #FFFF66;
        color: black;
      }
      35% {
        background-color: #696969;
        color: white;
      }
      44.99% {
        background-color: #696969;
        color: white;
      }
      45% {
        background-color: #FFFF66;
        color: black;
      }
      49.99% {
        background-color: #FFFF66;
        color: black;
      }
      50% {
        background-color: #696969;
        color: white;
      }
      54.99% {
        background-color: #696969;
        color: white;
      }
      55% {
        background-color: #FFFF66;
        color: black;
      }
      59.99% {
        background-color: #FFFF66;
        color: black;
      }
      60% {
        background-color: #696969;
        color: white;
      }
      64.99% {
        background-color: #696969;
        color: white;
      }
      65% {
        background-color: #FFFF66;
        color: black;
      }
      84.99% {
        background-color: #FFFF66;
        color: black;
      }
      85% {
        background-color: #696969;
        color: white;
      }
      
    }
    
    #tile-4 {
      animation-name: tile-4;
      animation-duration: 30s;
      animation-fill-mode: backwards;
      animation-iteration-count: infinite;
    }
    
    @keyframes tile-4 {
      0% {
        background-color: #696969;
        color: white;
      }
      14.99% {
        background-color: #696969;
        color: white;
      }
      15% {
        background-color: #FFFF66;
        color: black;
      }
      19.99% {
        background-color: #FFFF66;
        color: black;
      }
      20% {
        background-color: #696969;
        color: white;
      }
      34.99% {
        background-color: #696969;
        color: white;
      }
      35% {
        background-color: #FFFF66;
        color: black;
      }
      44.99% {
        background-color: #FFFF66;
        color: black;
      }
      45% {
        background-color: #696969;
        color: white;
      }
      49.99% {
        background-color: #696969;
        color: white;
      }
      50% {
        background-color: #FFFF66;
        color: black;
      }
      54.99% {
        background-color: #FFFF66;
        color: black;
      }
      55% {
        background-color: #696969;
        color: white;
      }
      59.99% {
        background-color: #696969;
        color: white;
      }
      60% {
        background-color: #FFFF66;
        color: black;
      }
      64.99% {
        background-color: #FFFF66;
        color: black;
      }
      65% {
        background-color: #696969;
        color: white;
      }
      69.99% {
        background-color: #696969;
        color: white;
      }
      70% {
        background-color: #FFFF66;
        color: black;
      }
      84.99% {
        background-color: #FFFF66;
        color: black;
      }
      85% {
        background-color: #696969;
        color: white;
      }
    }
   
    
    #contact {
      height: 75vh;
      background: url(https://cdn.pixabay.com/photo/2016/10/22/01/54/wood-1759566_960_720.jpg);
      background-size: cover;
      background-repeat: no;
      background-position: center center;
      background-blend-mode: darken;
    }
    
    #contact h1 {
      font-family: 'Caveat', cursive;
      font-size: 2.5em;
      color: white;
      text-align: center;
      padding-top: 10vh;
      padding-bottom: 0;
    }
    
    #contact-info {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: flex-start;
    }
    
    .icons {
      filter: invert(100%);
    }
    
    @media (max-width: 600px) {
      
      #projects {
        height: 250vh;
      }
      
      #project-grid {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        height: 200vh;
      }
      
      .project-tile {
        width: 50%;
      }
      
       #tile-3 {
        order: 1;
      }
      
      #tile-4 {
        order: 2;
      }
      
      #tile-2 {
        order: 3;
      }
      
      #tile-1 {
        order: 4;
      }
      
    }
